<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      {{> nav-toggle}}

      <a class="navbar-item title" href="{{{relativize page.componentVersion.url}}}">{{page.componentVersion.title}}</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link">{{page.componentVersion.displayVersion}}</span>
        <div class="navbar-dropdown navbar-menu">
          {{#each page.component.versions}}
            <a class="navbar-item {{#if (eq this.version @root.page.version)}} is-current{{/if}}" href="{{{relativize this.url}}}">{{this.displayVersion}}</a>
          {{/each}}
        </div>
      </div>

      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if (morethanone site.components)}}
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link">Projects</span>
          <div class="navbar-dropdown">
            {{#each site.components}}
              <a class="navbar-item" href="{{{relativize ./latestVersion/url}}}">{{{./title}}}</a>
            {{/each}}
          </div>
        </div>
        {{/if}}

        <a class="navbar-item" href="https://smallrye.io/">SmallRye.io main website</a>
      </div>
    </div>
  </nav>
</header>
